<ul class="nav flex-column mb-2">
    {% for campaign in campaigns %}
        <div class="card mt-3 justify-content-between">
            <div>
                <h5 class="card-header">{{ campaign.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Собрано 130 у.е</h5>
                    <p class="card-text">{{ campaign.description }}</p>
                    <a href="{{ path('camp_view', {id: campaign.id})}}" class="btn btn-primary">Перейти к проекту</a>
                    <a href="{{ path('camp_edit', {id: campaign.id})}}" class="btn btn-warning">Редактировать</a>
                    <a href="{{ path('camp_view', {id: campaign.id})}}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
            <div>
            </div>
        </div>
    {% endfor %}
</ul>