{% extends 'base.html.twig' %}

{%  set MoneyPurpose = campaign.moneyPurpose / 100 %}
{% set MoneyCollected = campaign.moneyCollected / 100 %}
{% set MoneyPercent = MoneyCollected * 100 / MoneyPurpose %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
<main role="main">
    <!-- Page content-->
        <div class="container">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_homepage') }}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">{{ campaign.category.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ campaign.name }}</li>
                </ol>
            </nav>
            <div class="row">
                <!-- Post content-->
                <div class="col-lg-8 mt-2">
                    <!-- Title-->
                    <h1 class="mt-2">{{ campaign.name }}</h1>
                    <!-- Discription-->
                    <p>{{ campaign.description }}</p>
                    <!-- Author-->
                    <hr />
                    <!-- Date and time-->
                    <span>Started on {{ createdTime }}</span>
                    <p>
                        by
                        <a href="#!">{{ campaign.user.name }}</a>
                    </p>
                    <hr />
                    <!-- Preview image-->
                    <img class="img-fluid rounded" src="https://via.placeholder.com/900x300" alt="..." />
                    <hr />
                    <!-- Purpose-->
                    <div class="d-flex justify-content-between">
                        <div class="ml-3">
                            <span class="row" style="font-size: 35px;">{{ MoneyCollected|round }} у.е.</span>
                            <span class="row">из {{ MoneyPurpose|round }} у.е.</span>
                        </div>
                        <div class="mr-3 mt-auto">
                            <span class="row" style="font-size: 20px;">114 спонсоров</span>
                            <span class="row">собрано {{ MoneyPercent|round }} %</span>
                        </div>
                    </div>
                    <div class="progress mb-3 mt-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ MoneyPercent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ MoneyPercent }}%"></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary btn-lg mb-5" data-toggle="modal" data-target="#modal-donat">
                            Поддержать проект
                        </button>
                        <span>Осталось {{ leftTime }} дней</span>
                    </div>
                    <!-- Post content-->
                    {{ campaign.descriptionLong|markdown }}
                    <!-- Comments form-->
                    {% if is_granted('ROLE_USER') %}
                    {{ render(controller('App\\Controller\\User\\Campaign\\CampaignController::commentForm', {'campaign': campaign.id})) }}
                    {% else %}
                        <div class="notification is-primary card">
                            <div class="card-body">
                                <strong>Вы не аутифицированы</strong> <br>
                            <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm mt-2">Войти</a>
                            или
                            <a href="{{ path('app_signup') }}" class="btn btn-primary btn-sm mt-2">Зарегистрируйтесь</a>
                            </div>
                        </div>
                    {% endif %}
                    {% for comment in campaign.comment|sort|reverse %}
                        <div class="media mb-4 mt-2">
                            <img class="d-flex mr-3 rounded-circle" src="https://via.placeholder.com/50x50" alt="..." />
                            <div class="media-body">
                                <h5 class="mt-0">{{ comment.user.username }}</h5>
                                {{ comment.text }}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Single comment-->
                </div>
                <!-- Sidebar widgets column-->
                <div class="col-md-4 mt-5">
                {% if is_granted('ROLE_USER') %}
                    <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#exampleModal">
                        {{'camp.new_bonus'|trans}}
                    </button>
                {% endif %}
                    <!-- donations-->
                {% for bonus in campaign.bonuses %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://via.placeholder.com/286x180" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ bonus.name }}</h5>
                            <p class="card-text">{{ bonus.description }}</p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-primary">{{ 'view.help'|trans }}</a>
                                <strong>{{ bonus.price }} у.е.</strong>
                            </div>

                        </div>
                    </div>
                {% endfor %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ 'camp.bonus_header'|trans }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('App\\Controller\\User\\Campaign\\CampaignController::bonusForm', {'campaign': campaign.id})) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-donat" tabindex="-1" aria-labelledby="modal-donatLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-donatLabel">{{ 'view.donate_head'|trans }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ render(controller('App\\Controller\\User\\Payment\\PaymentController::paymentForm', {'campaign': campaign.id})) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Crowdfunding 2021</p></div>
    </footer>
{% endblock %}



